<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<link rel="stylesheet" href="css/style.css">

  <title>Health App - Reminder</title>
</head>
<header>
  <a class="navbar-brand" href="#">
    <img th:src="@{/images/healthapp.jpg}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
    HEALTH APP
  </a>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/create">Adicionar Lembrete</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/list">Lista de Lembretes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<body>
  <form method="POST" action="/create" th:object="${reminder}">
    <input type="hidden" th:value="${reminder.id}" name="id" />
    <div class="mb-3">
      <label class="form-label">Nome do medicamento
      <input type="text" class="form-control" name="medicationName" th:value="${reminder.medicationName}" required>
      </label>
    </div>
    <div class="mb-3">
      <label class="form-label">Data do lembrete
      <input type="date" class="form-control" name="date" th:value="${{reminder.date}}" required>
      </label>
    </div>
    <div class="mb-3">
      <label class="form-label">Horário do lembrete
      <input type="time" class="form-control" name="time" th:value="${{reminder.time}}" required>
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Adicionar</button>
  </form>
</body>
</html>