<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/css/style.css}">

  <title>Listagem de tarefa</title>
</head>
<header>
  <a class="navbar-brand" href="#">
    <img th:src="@{/images/healthapp.jpg}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
    HEALTH APP
  </a>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/create">Adicionar Lembrete</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/list">Lista de lembretes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<body>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome do medicamento</th>
        <th scope="col">Data do lembrete</th>
        <th scope="col">Horário do lembrete</th>
        <th scope="col">Bula</th>
        <th scope="col">Editar</th>
        <th scope="col">Remover</th>
      </tr>
    </thead>
    <tbody>
      <tr data-th-each="reminder : ${reminders}">
        <td data-th-text="${reminder.id}"></td>
        <td data-th-text="${reminder.medicationName}"></td>
        <td data-th-text="${reminder.date}"></td>
        <td data-th-text="${reminder.time}"></td>
        <td>
          <a th:href="${pdfLink}"><img alt="bula" th:src="@{/images/prescricao-medica.jpg}" height="30px" width="30px"></a>
        </td>
        <td>
          <a th:href="@{'/edit/'+${reminder.id}}"><img alt="editar" th:src="@{/images/editar.jpg}" height="25px" width="25px"></a>
        </td>
        <td>
          <a th:href="@{'/delete/'+${reminder.id}}" onclick="return confirm('Tem certeza que deseja remover este item?');"><img alt="remover" th:src="@{/images/excluir.jpg}" height="25px" width="25px"></a>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" onclick="location.href='/create'">Adicionar Novo Lembrete</button>
</body>
</html>